@{
    ViewData["Title"] = "Error";
}

<div class="container p-4">
    <h1 class="alert-danger text-center">An Error occured!!!</h1>
    <img class="w-100" src="https://www.elegantthemes.com/blog/wp-content/uploads/2019/12/401-error-wordpress-featured-image.jpg" />
</div>