@{
    ViewData["Title"] = "Error";
}

<div class="container p-4">
    <h1 class="alert-danger">An error occured while processing your request.</h1>
    <img class="w-100" src="https://www.thetechnofetch.com/wp-content/uploads/2021/04/pii_email_35800da0131beebe44e2.jpg" />
</div>
