@{
    ViewData["Title"] = "Error";
}

<div class="container p-4">
    <h1 class="alert-danger text-center">An Error occured!!!</h1>
    <img class="w-100" src="https://media.licdn.com/dms/image/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/0/1581099611064?e=1717027200&v=beta&t=psv-We1SWGIP7Fs5uDilFsfnKii-3bRK6Bxt6cMAvAE" />
</div>

