@model AllPostInfoServiceModel

@{
    ViewData["Title"] = "Topic posts page";
}

<div class="bg-black bg-opacity-75 p-4" style="border-radius: 0.5em;">

    <div class="bg-white bg-opacity-75 p-4" style="border-radius: 0.5em;">
        <h2 class="text-black text-center fw-bold">Reviews:</h2>

        <div class="container w-75 h-25 text-center p-2 mb-3" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">
            <a asp-area="" asp-action="AddPostToTopic" asp-controller="Forum" asp-route-topicId="@Model" asp class="text-decoration-none text-black">Add posts</a>
        </div>
    </div>

    <p></p>

    @foreach (var post in Model.Posts)
    {
        <div class="bg-white bg-opacity-75 p-4" style="border-radius: 0.5em;">
            <partial name="_PostsDisplayPartial" model="@post" />

            @if (post.Replies.Any())
            {
                <div class="d-flex flex-column gap-2 bg-white bg-opacity-75 p-4 m-4" style="border-radius: 1em;">
                    <partial name="_ReplyDisplayPartial" model="@post.Replies" />
                </div>
            }

        </div>

        <p></p>
    }
</div>