@model GenreChoseFromModel

@{
    ViewData["Title"] = "Genre form";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="AddGenreToSerie" method="post">
            <select asp-for="@Model.GenreId" class="form-control" aria-label="Genre name:">
                @foreach (var genre in Model.GenresName)
                {
                    <option value="@genre.GenreId">@genre.Name</option>
                }
            </select>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add new genre" />
            </div>
        </form>
    </div>
</div>