@model List<TopicCardsInfoServiceModel>

@{
    ViewData["Title"] = "Topic managing page";
}

<div class="bg-white bg-opacity-50 d-flex flex-column p-2 gap-2" style="border-radius: 0.5em">
    <h1 class="text-center pt-2">Topics:</h1>
    <a asp-area="Administration" asp-action="AddTopic" asp-controller="Forum" role="button" class="btn btn-lg" style="border-radius: 0.5em; background-color: rgb(255, 210, 0)">Add new topic</a>
    @foreach (var topic in Model)
    {
        <table class="table m-2">
            <thead>
                <tr>
                    <th scope="col">Topic name:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@topic.TopicName</td>
                    <td class="text-end">
                        <a asp-area="Administration" asp-action="EditTopic" asp-controller="Forum" asp-route-topicId="@topic.TopicId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Edit topic</a>
                        <a asp-area="Administration" asp-action="DeleteTopic" asp-controller="Forum" asp-route-topicId="@topic.TopicId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Remove topic</a>
                        <a asp-area="Administration" asp-action="" asp-controller="" asp-route-topicId="" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">View posts</a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
