@model List<CrewInfoServiceModel>

@{
    ViewData["Title"] = "Crew managing page";
}

<div class="bg-white bg-opacity-50 d-flex flex-column p-2 gap-2" style="border-radius: 0.5em">
    <h1 class="text-center pt-2">Crews:</h1>
    <a asp-area="Administration" asp-action="Add" asp-controller="Crew" role="button" class="btn btn-lg" style="border-radius: 0.5em; background-color: rgb(255, 210, 0)">Add new Crew</a>
    @foreach (var crew in Model)
    {
        <table class="table m-2">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@crew.Name</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-action="Edit" asp-controller="Crew" asp-route-crewId="@crew.CrewId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Edit</a>
                        <a asp-area="Administration" asp-action="Delete" asp-controller="Crew" asp-route-crewId="@crew.CrewId" class="btn m-1" role="button" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
