@{
    ViewData["Title"] = "Administration Home Page";
}

<a class="text-decoration-none text-white" asp-area="Administration" asp-controller="Movie" asp-action="Index">To movies manigment page</a>
<p></p>
<a class="text-decoration-none text-white" asp-area="Administration" asp-controller="Serie" asp-action="Index">To series manigment page</a>
<p></p>
<a class="text-decoration-none text-white" asp-area="Administration" asp-controller="Genre" asp-action="Index">To genres manigment page</a>
<p></p>
<a class="text-decoration-none text-white" asp-area="Administration" asp-controller="Role" asp-action="Index">To role manigment page</a>
<p></p>
<a class="text-decoration-none text-white" asp-area="Administration" asp-controller="Crew" asp-action="Index">To crew manigment page</a>