@model TopicCardsInfoServiceModel

<div class="card bg-transparent border-0 p-1">
    <div class="container">
        <div class="bg-white bg-opacity-50 p-4 m-2 w-100" style="border-radius: 0.5em">
            <div class="p-2 d-flex flex-column gap-2">
                <div class="text-center" style="font-size: 1.4em">
                    <p><b>Topic :</b> @Model.TopicName</p>
                </div>
                <div class="container w-75 h-25 text-center p-2" style="border-radius: 0.5em; background-color: rgb(255, 210, 0);">
                    <a asp-area="" asp-action="AllTopicPosts" asp-controller="Forum" asp-route-topicId="@Model.TopicId" asp class="text-decoration-none text-black">View posts</a>
                </div>
            </div>
        </div>
    </div>
</div>

