@model CrewChoseFormModel

@{
    ViewData["Title"] = "CrewMovie form";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 pt-3">
        <form asp-action="RemoveCrewFromMovie" method="post">
            <<select asp-for="@Model.CrewId" class="form-control" aria-label="Crew name:">
                @foreach (var crew in Model.CrewNames)
                {
                    <option value="@crew.CrewId">@crew.Name</option>
                }
            </select>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Remove Crew" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}